{% extends 'pages/admin-layout.html' %}


{% block breadcrumb_title %}
  Page &gt; Delete
{% endblock breadcrumb_title %}


{% block breadcrumbs %}
  {{ super() }}
  <li class="active">
      <span>Pages</span>
  </li>
{% endblock breadcrumbs %}


{% block header_button_bar %}
{% endblock header_button_bar %}


{% block page_content %}
<div class="col-md-12">
  <form id="delete-page-form" 
    class="form form-half-width form-clearstate center-block form-horizontal" 
    method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{form.name(placeholder="Type the name of the page", class_="form-control")}}
    </div>
    <button type="submit" class="btn btn-danger">Delete Page</button>
  </form>
</div>
{% endblock page_content %}

