{% extends 'pages/pages.html' %}

{% block breadcrumb_title %}
{{ super() }} &gt; Edit
{% endblock breadcrumb_title %}


{% block header_button_bar %}
{% endblock header_button_bar %}


{% block page_content %}
<div class="col-md-12">
  <form id="update-page-form" class="form form-half-width form-clearstate form-register" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{form.name.label}}
        {{form.name(placeholder="My Product Status Page", class_="form-control")}}
    </div>
    <div class="form-group">
        {{form.site_url.label}}
        {{form.site_url(placeholder="status.mycompany.com", class_="form-control")}}
    </div>
    <div class="form-group">
        {{form.timezone.label}}
        {{form.timezone(class_="form-control")}}
    </div>
    <div class="form-group">
        {{form.about_page.label}}
        {{form.about_page(class_="form-control")}}
    </div>                  
    <p><input class="btn btn-success btn-lg btn-submit" type="submit" value="Update Page"></p>
  </form>  
</div>
{% endblock page_content %}

