{% extends 'pages/admin-layout.html' %}


{% block breadcrumb_title %}
Incidents
{% endblock breadcrumb_title %}


{% block breadcrumbs %}
  {{ super() }}
  <li class="active">
    {% if incident %}
      <a href="{{ url_for('pages.incidents', page_id=page.id) }}">
        Incidents
      </a>
    {% else %}
      <span>Incidents</span>
    {% endif %}
  </li>
{% endblock breadcrumbs %}

{% block header_button_bar %}
  <a class="btn btn-sm btn-success"
    href="{{ url_for('pages.add_incident', page_id=page.id) }}"> 
    <i class="fa fa-plus"></i> Add an Incident
  </a> 
  {#

  Use this for scheduled maint.

  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ url_for('pages.add_component_group', page_id=page.id) }}">Add a Component Group</a></li>
    #}
  </ul>

{% endblock header_button_bar %}


{% block page_content %}
<div class="col-md-12">
  {% if not incidents.items %}
  <div class="center-block">
    <h4 class="text-center">
      Congrats! You haven't had any incidents yet.
    </h4> 
  </div>
  {% else %}
  <div class="row">
    <div class="col-md-12">
      {% for incident in incidents.items %}
        <h4 class="col-md-9 font-slim">
          <a href="{{ url_for('pages.update_incident', page_id=page.id, incident_id=incident.id) }}"
             class="heading-link">
            {{ incident.title }}
          </a>
          <br/>
          <small class="text-muted">
            {% if incident.state != 'Fixed' %}
              Last updated {# timeago. #} at {{ incident.update_time|datetimeformat('medium') }}
            {% else %}
              Resolved on {{ incident.update_time|datetimeformat('medium') }}
            {% endif %}
          </small>
        </h4>
        <div class="buttons col-md-3 pull-right">
          {% if incident.state != 'Fixed' %}
          <a class="btn btn-link" href="{{ url_for('pages.update_incident', page_id=page.id, incident_id=incident.id) }}">Update Incident</a>
          {% endif %}
      </div>
      <hr/>
      {% endfor %}
    </div>
  </div>

  {% if incidents.pages > 1 %}
  <div class="row">
    <div class="col-md-6 col-xs-12 pull-right">
      {{ render_pagination(incidents, 'pages.incidents', page) }} 
    </div>
  </div>
  {% endif %}

  {% endif %}
</div>
{% endblock page_content %}
