{% extends 'layout.html' %}

{% block content_class %}container{% endblock content_class %}

{% block body %}
<div class="container">
  <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>

      <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Past Incidents</h3>
          <hr/>
          {% for date, incidents in incidents %}
            <h4>{{ date|dateformat }}</h4>
            {% if incidents %}
              {% for incident in incidents %}
                {{ render_incident(incident) }}
              {% endfor %}
            {% else %}
              Nothing to report
            {% endif %}
            <hr/>
          {% endfor %}
        </div>
      </div>

    </div>
{% endblock body %}


{% macro render_incident(incident) %}
<div class="incident-block">
  <div class="incident-icon incident-{{ incident.type|lower }}">
    <i class="fa {{ incident.icon }}"></i>
  </div>
  <div class="incident-content">
    <div class="panel-heading">
      <h4 class="panel-title font-slim">
        {{ incident.title }}
        <span class="pull-right">
          <small>{{ incident.create_time|datetimeformat('medium') }}</small>
        </span>

      </h4>
    </div>
    <div class="panel-body">
      {{ incident.description }}
    </div>
  </div>
</div>  
{% endmacro %}
